#!/usr/bin/make -f

export JAVA_HOME ?= /usr/lib/jvm/default-java

%:
	dh $@

override_dh_auto_build:
	./gradlew --no-daemon clean shadowJar

override_dh_auto_install:
	dh_install
	install -Dm755 packaging/replayshield.sh debian/replayshield/usr/bin/replayshield

override_dh_fixperms:
	dh_fixperms
	chmod 755 debian/replayshield/usr/bin/replayshield
	chmod 755 debian/replayshield/usr/lib/replayshield/replayshield-pam.sh
